@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h4>@Html.DisplayFor(model => model.Specialty) specialist</h4>
<hr />
@if (@Model.Clients.Count == 0)
{
  <h4>no clients found</h4>
} else
{
  <h4>CURRENT CLIENTS</h4>
  <ul>
    @foreach (Client client in @Model.Clients)
    {
      <li><a href="/Clients/Details/@client.ClientId">@client.Name</a></li>
    }
  </ul>
}

@if (@Model.Appointments.Count > 0)
{
  <h4>UPCOMING APPOINTMENTS</h4>
  <div class="appts">
    @foreach (Appointment appointment in @Model.Appointments)
    {
      <div class="appointment">
        <p>DATE: @appointment.Date</p>
        <p>TIME: @appointment.Time</p>
        <p>NOTES: @appointment.Notes</p>
      </div>
    }
  </div>
}

<div class="stylist-buttons">
  <a href="/Clients/Create" class="btn">ADD CLIENT</a>
  @Html.ActionLink("SCHEDULE APPOINTMENT", "Create", "Appointments", null, new { @class = "btn" })
  @Html.ActionLink("EDIT DETAILS", "Edit", "Stylists", new { id = Model.StylistId }, new { @class = "btn" })
  @Html.ActionLink("DELETE STYLIST", "Delete", "Stylists", new { id = Model.StylistId }, new { @class = "btn" })
</div>
@Html.ActionLink("VIEW ALL STYLISTS", "Index", "Stylists", null, new { @class = "btn-block" })