@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>EDIT DETAILS FOR: @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Specialty)
  @Html.EditorFor(model => model.Specialty)
  <br>
  <input type="submit" class="btn-block" value="SAVE" />
}

@Html.ActionLink("SHOW ALL STYLISTS", "Index", "Stylists", null, new { @class = "btn-block" })