@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>ADD NEW CLIENT</h1>
<div class="forms">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <input type="submit" value="ADD CLIENT" class="btn-block" />
  }
</div>

@Html.ActionLink("VIEW ALL CLIENTS", "Index", "Clients", null, new { @class = "btn-block" })