@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />
<h4>STYLIST: @ViewBag.Stylist.Name</h4>
<h4>NOTE: @Html.DisplayFor(model => model.Notes)</h4>

<div class="client-buttons">
  @Html.ActionLink("DELETE CLIENT", "Delete", "Clients", new { id = Model.ClientId }, new { @class = "btn" })
  @Html.ActionLink("SHOW ALL CLIENTS", "Index", "Clients", null, new { @class = "btn" })
</div>